<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>

    <script src="/Script/cursor.js"></script>
    <script src="/Script/readJSON.js"></script>
    <title>MyScene</title>
</head>
<body>
    <a-scene>
        <a-camera>
            <a-cursor></a-cursor>
        </a-camera>

        <a-assets>
            <img id="cubes-thumb" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-cubes.jpg">
            <img id="sechelt-thumb" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-sechelt.jpg">
        </a-assets>
    
        <a-entity id="thumb1" class="link"
            geometry="primitive: plane; height: 1; width: 1"
            material="shader: flat; src: #cubes-thumb"
            position="-1.060 2 -5"></a-entity>


        <a-box id="box1" position="-1.060 0.5 -5" rotation="0 45 0" color="blue"></a-box>
        <a-dodecahedron id="dode1" position="1.0096 1 -5" color="purple" radius="1"></a-dodecahedron>
        <a-sphere id="sph1" position="2 0.5 -3" color="yellow" radius="0.5"></a-sphere>

        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
        <a-sky color="#ECECEC"></a-sky>

        <a-light id="lgt1" type="point" color="white" position="0 5 0" intensity="1"></a-light>
        <a-text id="btn1" position="-1.977 0.453 -2.685" rotation="-2.355 15.593 2.675" value="Turn off" color="black" geometry="primitive:plane" align="center"></a-text>
    </a-scene>
</body>

</html>